// OKOS - Main SCSS file

@charset "UTF-8";
@import "globals";

/*
    Hello, this is the SASS stylesheet of OKOS.
    OKOS stands for Online Keyboard On Screen.

    OKOS is a toy/experiment project.
    Attila Bakos, Plymouth, UK 2016.
    http://abakos.info/okos
*/

* { box-sizing: border-box; }

body {
    background: $bg;
    font-size: 75%;

    .credits { /* abakos.info | github | 2016 */
        font-size: 1.75em;
        color: $btn;
        text-shadow: 1px 1px 1px white;

        a {
            padding: .5%;
            text-decoration: none;
            color: inherit;
            transition: .35s;
            }

        :hover {
            background: $digicolor;
            }
        }
    }

.frame { /* general container */
    padding: 0 5%; /* 5%-5% white-space on each side */
    }

    /* superclasses: */
    .object-design { /* applies to .keyboard & .text-field */
        background: linear-gradient(to bottom, #BAB6B6, #D4D4D4, #EEE);
        box-shadow:
            0 5px 2px 3px #343232, /* outer shadow */
            0 0 15px 5px #BAB6B6 inset; /* inner shadow */
        border-radius: 15px;
        }

    .font-decor { /* applies to h1 & h2 */
        line-height: 0;
        letter-spacing: 1px;
        }

    .centertext { text-align: center; }
    .bolderfont { font-weight: bolder; }
    .monospace { font-family: monospace; }
    .zeromargin { margin: 0; } /* applies to .character-display & h2 */

/* keyboard section */

.keyboard { /* keyboard panel */
    margin: 2% auto; /* aligns to the center of the window */
    padding: 2%; /* adds inner space from the edges of keyboard panel */
    }

.row { /* rows of the keyboard */ }

.button { /* individual buttons of the keyboard */
    display: inline-block; /* displays the buttons placed next to each other in a row */
    margin: .25% .1%; /* adds space between the buttons */
    padding: 1.5% 0; /* gives the buttons height */
    
    background: #EEE;
    border: 1px solid #BBB;
    border-left: 1px solid #E2E0E0;
    border-top: 1px solid #E2E0E0;
    border-radius: 5px;
    box-shadow:
        0 2px 1px 1px #343232, /* outer shadow */
        0 0 6px #898383 inset; /* inner shadow */

    color: #383838;
    text-shadow:
        0 1px 0 white,
        0 0 2px grey;

    @media all and (max-width: 600px) {
        font-size: 60%;
        }
    @media all and (max-width: 700px) {
        font-size: 70%;
        margin: .5% .1%; /* additional room between the rows */
        padding: 1% 0; /* decreases the height of the buttons */
        }
    }

.button:hover {
    background: #E1E1E1;
    border: 1px solid black; /* left & bottom */
    border-right: 1px solid #aaa;
    border-top: 1px solid #aaa;
    box-shadow:
        0 1px 1px 0 #343232, /* outer shadow */
        0 0 6px grey inset; /*  inner shadow */
    color: transparent;
    text-shadow:
        1px 1px 0 #343232,
        1px 1px 2px grey;

    transition: all 10ms; /* for mouse pointing */
    transform: translateY(2px); /* slight downward motion for a visually more convincing pressed-state */
    }

.button-pressed { /* this class is applied with jquery */
    @extend .button:hover;
    transition: 0ms; /* overwriting mouse pointing transition */
    }

/* button sizes -- relative to .row */
.size-half  { width: $size-1 / 2; }
.size-1     { width: $size-1; }
.size-2     { width: $size-1 + ($size-1 / 2); }
.size-3     { width: $size-1 * 2; }
.size-4     { width: ($size-1 * 2) + ($size-1 / 2); }
.size-5     { width: ($size-1 * 7) + ($size-1 / 2); }

.bumper { /* applies to buttons F + J for touch typing */
    text-decoration: underline;
    }

/* Text-field || input - display area */

.display {
    padding-bottom: 2.5%; /* space below OKOS branding */
    }

.display-container {
    width: 70%;
    margin: auto; /* aligns to the center */
    padding: 1%;
    }

.input {
    width: 100%;

    background: linear-gradient(to bottom, #222, #111, #222);
    border-top: 2px solid #606060;
    border-bottom: 2px solid lighten(#606060, 10%);
    border-left: 2px solid darken(#606060, 10%);
    border-right: 2px solid darken(#606060, 10%);
    border-radius: 4px;
    box-shadow: 0 0 6px 2px grey;
    outline: none;
    font-size: 200%;
    color: $digicolor;
    text-shadow: 1px 1px 1px black;
    }

/* mouse selection */
::selection {
    color: #111;
    background: $digicolor;
    }

::-moz-selection {
    color: #111;
    background: $digicolor;
    }

.character-display {
    width: 25%;
    display: inline-block;
    }

/* OKOS branding */

h1 { /* OKOS */
    color: #BBB;
    font-size: 300%;
    text-shadow: 
        1px 1px 0 grey,
        2px 2px 0 #CCC,
        2px 0 1px white;
    }

h2 { /* Online Keyboard On Screen */
    color: grey;
    text-shadow: 2px 0 1px white;
    }

/* testing */
.bug { /* subtly highlights buttons that don't work with keyboard key binding by applying opacity */
    opacity: .35;
    }

/* scroll bar styling */
::-webkit-scrollbar {
    width: 10px;
    }
 
::-webkit-scrollbar-track {
    background: transparent;
    border-left: 1px solid #606060;
    }
 
::-webkit-scrollbar-thumb {
    width: 10px;
    background: $digicolor;
    border-top-right-radius: 2px;
    box-shadow: 0 0 2px black inset;
    }