@charset "UTF-8";

/*
Hello, this is the stylesheet of OKOS.
OKOS stands for Online Keyboard On Screen.
It's a toy project.
Attila Bakos, Plymouth, UK 2016.
http://abakos.info
*/

* { box-sizing: border-box; }

body {
    background: #E8E8E8;
    font-size: 75%;
    }

.frame { /* general container */
    padding: 0 5%; /* 5%-5% white-space on each side */
    }

/* superclass: */
.object-design { /* applies to .keyboard & .text-field */
    background: linear-gradient(to bottom, #BAB6B6, #D4D4D4, #EEE);
    box-shadow:
        0 5px 2px 3px #343232, /* outer shadow */
        0 0 15px 5px #BAB6B6 inset; /* inner shadow */
    border-radius: 15px;
    text-align: center;
    }

/* superclass: */
.bolderfont { font-weight: bolder; }
.monospace { font-family: monospace; }

/* keyboard section */

.keyboard { /* keyboard panel */
    margin: 2% auto; /* aligns to the center of the window */
    padding: 2%; /* adds inner space from the edges of keyboard panel */
    }

.row { /* rows of the keyboard */ }

.button { /* individual buttons of the keyboard */
    display: inline-block; /* displays the buttons placed next to each other in a row */
    margin: .25% .1%; /* adds space between the buttons */
    padding: 1.5% 0; /* gives the buttons height */
    
    background: #EEE;
    border: 1px solid #BBB;
    border-left: 1px solid #E2E0E0;
    border-top: 1px solid #E2E0E0;
    border-radius: 5px;
    box-shadow:
        0 2px 1px 1px #343232, /* outer shadow */
        0 0 6px #898383 inset; /* inner shadow */

    color: #383838;
    text-shadow:
        0 1px 0 white,
        0 0 2px grey;
    }

.button:hover,
.button-pressed { /* this class is applied with jquery */
    background: #E1E1E1;
    border: 1px solid black; /* left & bottom */
    border-right: 1px solid #aaa;
    border-top: 1px solid #aaa;
    box-shadow:
        0 1px 1px 0 #343232, /* outer shadow */
        0 0 6px grey inset; /*  inner shadow */

    color: transparent;
    text-shadow:
        1px 1px 0 #343232,
        1px 1px 2px grey;

    transform: translateY(2px); /* slight downward motion for a visually more convincing pressed-state */
    }

.button:hover { transition: all 5ms; }

/* button sizes -- relative to .row */
.size-half  { width: 2.5%; }
.size-1     { width: 5%; }
.size-2     { width: 7.5%; }
.size-3     { width: 10%; }
.size-4     { width: 12.5%; }
.size-5     { width: 37.5%; }

.bumper { /* applies to buttons F + J for touch typing */
    text-decoration: underline;
    }

/* Text-field || input - display area */

.display {
    margin: auto; /* aligns to the center */
    padding-bottom: 2%;
    }

.input {
    width: 70%;
    margin: 2%;
    margin-bottom: .25%;
    padding: 1%;
    background: linear-gradient(to bottom, #222, #111, #222);
    border: 2px solid grey;
    border-radius: 5px;
    outline: none;
    font-size: 200%;
    color: greenyellow;
    text-shadow: 1px 1px 1px black;

    /* needs more elaboration */
    box-shadow: 0 1px 3px 0 grey inset;
    }

::selection {
    color: #111;
    background: greenyellow;
    }

/* OKOS branding */

/* superclass: */
.font-decor { /* applies to h1 & h2 */
    line-height: 0;
    letter-spacing: 1px;
    }

h1 { /* OKOS */
    color: #BBB;
    font-size: 300%;
    text-shadow: 
        1px 1px 0 grey,
        2px 2px 0 #CCC,
        2px 0 1px white;
    text-align: center;
    }

h2 { /* Online Keyboard On Screen */
    color: grey;
    margin: 0;
    text-shadow: 2px 0 1px white;
    }

/* media queries for scalability */

@media all and (max-width: 700px) {
    .button {
        font-size: 70%;
        margin: .5% .1%; /* additional room between the rows */
        padding: 1% 0; /* decreases the height of the buttons */
        }
    }

@media all and (max-width: 600px) {
    .button { font-size: 60%; } 
    }

/* testing */
.bug { /* subtly highlights buttons that don't work with keyboard key binding by applying opacity */
    opacity: .35;
    }